<div class="graph-manager npa-color--background">
  <div class="graph-manager__header">
    <div class="graph-manager__header-main">
      <div class="graph-manager__url">
        <div *ngIf="showGraphControls$ | async">
          <label for="search" class="npa-color--space-6"></label>
          <input
            id="search"
            type="text"
            class="npa-input npa-input--search npa-input--action-clear"
            placeholder="Type something for search..."
            [formControl]="searchControl"
            npaDropdownEvents [eventToTrigger]="'click'" (event)="showSearchOptions$.next(true)"
            npaKeyboardEmitter (keyboardEmitter)="onKeyboardEmit($event)"
            npaFormBehavior [render]="true" (clickIcon)="searchControl.setValue('')">
        </div>

        <npa-dropdown
          *ngIf="(searchOptions$ | async).length"
          [config]="dropdownConfig"
          [options]="searchOptions$ | async"
          [showDropdown]="showSearchOptions$ | async"
          [keyboardControl]="dropdownKeyboardEvents$"
          (showDropdownChange)="showSearchOptions$.next($event)"
          (optionSelected)="searchControl.setValue($event.value); processSearchValue($event.value)"
          (closeDropdown)="showSearchOptions$.next(false)">
        </npa-dropdown>
      </div>
      <button class="npa-button" (click)="showLoadProjectModal$.next(true)">Set Project</button>
    </div>
    <div class="graph-manager__header-aggregations">
      <ng-container *ngIf="showGraphControls$ | async">
        <ng-container *ngIf="graphAggregations$ | async as graphAggregations">
          <div class="npa-tag npa-tag--module">{{graphAggregations.module}} Modules</div>
          <div class="npa-tag npa-tag--component">{{graphAggregations.component}} Components</div>
          <div class="npa-tag npa-tag--service">{{graphAggregations.service}} Services</div>
          <div class="npa-tag npa-tag--directive">{{graphAggregations.directive}} Directives</div>
          <div class="npa-tag npa-tag--pipe">{{graphAggregations.pipe}} Pipes</div>
        </ng-container>
      </ng-container>
    </div>
  </div>
  <div class="graph-manager__graph-container">
    <div id="graph" class="graph-manager__graph" [class.graph-manager__graph--hide]="loadingGraph$ | async"></div>
    <npa-spinner *ngIf="loadingGraph$ | async"></npa-spinner>
  </div>
</div>
<npa-modal
  [title]="'Set project to analysis'"
  [showModal]="showLoadProjectModal$ | async"
  [modalConfig]="loadProjectModalConfig"
  (closeModal)="showLoadProjectModal$.next(false)">
  <div class="set-project-modal">
    <div>
      <label for="loadProject" class="npa-label npa-color--space-6">Tsconfig path</label>
      <input
        id="loadProject"
        type="text"
        class="npa-input"
        placeholder="Type a path to a tsconfig file..."
        [formControl]="urlControl"
        npaFb>
    </div>
    <div class="set-project-modal__button-container">
      <button class="npa-button" (click)="requestResults()">Set</button>
    </div>
  </div>
</npa-modal>
