@use '~@stratiods/space-dark/mixins' as npa;

:host {
  display: block;
  width: 100%;
  height: 100%;

  .home {
    @include npa.createFlexBox(row, flex-start, center, nowrap);
    height: 100%;
    width: 100%;
    padding: var(--npa-spacing-24);
    box-sizing: border-box;

    .home__info-container {
      margin-top: 180px;
      @include npa.createFlexBox(column, center, center, nowrap);

      & > DIV {
        @include npa.createFlexBox(column, center, center, nowrap);
        --npa-component-width: 500px;

        & :not(:last-child) {
          margin-bottom: var(--npa-spacing-16);
        }

        .home__or-label {
          margin: var(--npa-spacing-16) 0 var(--npa-spacing-24);
        }
      }

      BUTTON {
        margin-top: var(--npa-spacing-8);
      }
    }
  }
}
